@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Sketch&family=Roboto+Slab:wght@100..900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
border: none;
}


body{

    text-align: center;
    color: rgb(0, 0, 0);
    background: linear-gradient(rgb(255, 227, 247),rgb(237, 128, 222));
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

h1{

text-transform: uppercase;
margin: 1rem;
font-family: "Roboto Slab", serif;

}


p{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;

}

h2{

    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding-left: 10rem;
    font-family: "Bebas Neue", sans-serif;
}

img {

border: 18px groove #fdb1fa !important;
border-radius: 9px;
margin: 1rem;

}

label{

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;

}

input {

    width: 3rem;
    height: 2rem;
    border-radius: 3px;
}

button{

width: 5rem;
height: 2.5rem;
border-radius: 5px;
font-family: "Bebas Neue", sans-serif;

}